.Tabs {
    display: flex;
}

.Tab__titles {
    padding: 20px;
    cursor: pointer;
}

.Tabs__content {
    padding: 20px;
    width: 300px;
}

.Tab__titles::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff8080;
    transition: width .3s;
}

.Tab__titles:hover::after {
    width: 100%;
    transition: width .3s;
}
